# Environment variables
.env

# Dependencies
node_modules/

# Log files
*.log
logs/

# Operating System Files
.DS_Store
thumbs.db

# IDE or Editor Configurations
.vscode/
.idea/
*.sublime*
*.swp

# Build Files
/dist
/build

# Database and Dump Files
*.sqlite
*.db
*.sql

# Temporary Files
tmp/
temp/
